<p id="notice"><%= notice %></p>
<p id="notice"><%= flash[:error] %></p>

<p>
  <strong>Name:</strong>
  <%= @leaderboard.name %>
</p>

<div>
  <p>Entries:</p>
  <ol>
    <% @leaderboard.entries.classified.each do |entry| %>
    <li><%= entry.username %> - <%= entry.score %></li>
  <% end -%>
  </ol>
</div>

<div>
  <%= form_tag add_score_leaderboard_path(@leaderboard), method: :post do %>
    <p>
      <%= label_tag "Username" %>
      <%= text_field_tag "username" %>
    </p>
    <p>
      <%= label_tag "Score" %>
      <%= text_field_tag "score" %>
    </p>
    <%= submit_tag "Add score" %>
  <% end -%>
</div>

<div>
  <p>Scores:</p>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Score</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @leaderboard_scores.each do |leaderboard_score| %>
        <tr>
          <td><%= leaderboard_score.entry.username %></td>
          <td><%= leaderboard_score.score %></td>
          <td><%= link_to 'Remove', leaderboard_entry_score_path(leaderboard_score), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr>

<%= link_to 'Edit', edit_leaderboard_path(@leaderboard) %> |
<%= link_to 'Back', leaderboards_path %>
